
border: 0px !important;@font-face {
   font-family: mainfont1;
   src: url(BalooBhai-Regular.ttf);
   font-family: mainfont2;
   src: url(Kodchasan-Medium.ttf);
}

body {
	 background: linear-gradient(to bottom right, #ffb1dd, #f1abe5, #dea7ed, #c6a4f5, #a8a3fb, #8daeff, #72b8ff, #5ac0ff, #66d2fe, #80e2fc, #a0f1fa, #c1fffb) no-repeat center center fixed; 
     background-size: cover;
     margin: 0px;
}

::placeholder {
  color: rgba(0,0,0,0.5);
  font-size: 20px;
}

.para1 {
	font-family: mainfont2;
	text-align: center;
	font-size: 25px;
	margin:0px;
}

.div1 {
	
}

.div2 {
	text-align: center;
	background: rgba(255,255,255, 0.2);
    width: 600px;
    margin-top: 250px !important;
    height: 400px;
    transition-duration: 0.5s;
    margin: auto;
}

.div2:hover {
	box-shadow: 5px 5px 25px black;
}

.div3 {
	padding-top: 80px; 
}

.div4 {
	text-align: center;
	padding-top: 20px;
}

.div5 {
	text-align: center;
	padding-top: 5px;
}

.div6 {
	text-align: center;
	padding-top: 5px;
}

.in1 {
	background-color: rgba(255,255,255,0.3);
	/*background-color: transparent;*/
	font-family: mainfont2;
	height: 40px;
	border: 0px;
    padding: 0px;
    text-align: center;
    width: 70%;
    margin-top: 15px;
    border-radius: 25px;
    transition-duration: 0.7s;
    font-size: 20px;
}

.in1:hover {
	box-shadow: 2px 2px 15px black;
}

.in1:focus {
	background: white;
	outline: 0px !important;
}

.in2 {
	background-color: rgba(255,255,255,0.3);
	/*background-color: transparent;*/
	font-family: mainfont2;
	height: 40px;
	border: 0px;
    padding: 0px;
    text-align: center;
    width: 70%;
    margin: 15px;
    border-radius: 25px;
    transition-duration: 0.7s;
    font-size: 20px;
}

.in2:hover {
	box-shadow: 2px 2px 15px black;
}

.in2:focus {
	background: white;
	outline: 0px !important;
}

.button1 {
	font-size: 15px;
	padding: 5px 45px;
	border-radius: 25px;
	background: rgba(255,255,255,0.3);
	transition-duration: 0.7s;
}

.button1:hover {
	/*background: rgba(255,255,255,0.7);*/
	box-shadow: 2px 2px 10px 5px black;
}